SECRET_KEY=change-me
DEBUG=False
ALLOWED_HOSTS=127.0.0.1,localhost

DB_ENGINE=django.db.backends.postgresql
DB_NAME=negostuy
DB_USER=negostuy
DB_PASSWORD=negostuy
DB_HOST=postgres
DB_PORT=5432

CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0
CELERY_TASK_TIME_LIMIT=900
